.leftsidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #171d1c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
}

.leftsidebar a {
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #63adf2;
    display: block;
    transition: 0.3s
}

.leftsidebar a:hover, .offcanvas a:focus{
    color: white;
}

.leftsidebar .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 2%;
}

@media screen and (max-height: 450px) {
  .leftsidebar {padding-top: 15px;}
  .leftsidebar a {font-size: 18px;}
}
body {
	background-color: #63adf2;
	margin: 0px;
	padding: 0px;
}
p {
	border: 1px solid #171d1c;
	color: white;
	margin: 0% 26%
	
	
}
.about {
	background-color: #171d1c;
	color: white;
	text-align: center;
	position: relative;
	padding: 15px 0px 25px 0px;
	z-index: -1;	
	margin: 25% 0% 0% 0%;
}
}
span {
	color: white;
	position: absolute;
	margin: 0%;
	top: 0%;
	left: 0%;
}
.foot {
	background-color: #171d1c;
	color: white;
	text-align: center;
	position: relative;
	padding: 15px 0px 25px 0px;
	z-index: -1;
	margin: auto;
}
.Resume {
	color: #fbfef9;
	border: 1px solid #171d1c;
	text-align: center;
	padding: 0px 0px 15px 0px;
	position: relative;
	z-index: -1;
	margin: 0% 0% 3% 0%;
	background-color: #171d1c
}
.Top {
	color: #fbfef9;
	border: 10px solid #171d1c;
	background-color: #171d1c;
	text-align: center; 
	z-index: -1;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	margin: auto;
}
.portfolio {
	background-color: #171d1c;
	color: white;
	text-align: center;
	position: relative;
	padding: 15px 0px 25px 0px;
	z-index: 2;	
	margin: 0px 0px 0px 0px;
}
ul {
	columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
	border: 1px solid black;
	padding: 5px 0px 5px 0px;
	margin: 0% 26% 33% 13%;
	list-style-position: inside;
	position: relative;	
	list-style-type: none;
	
}
li a:link {
	color: black;
	text-decoration: none;
}
li a:visited {
	color: black;
}
li a:hover {
	color: white;
}
a:focus {
outline: none;
}
#img {
	position: absolute;
	top: 15%;
	right: 75%;
}
#img2 {
	position: absolute;
	top: 15%;
	right: 50%;
}
#img3 {
	position: absolute;
	top: 15%;
	right: 25%;
}